[submodule "libs/restsharp"]
	path = libs/restsharp
	url = https://github.com/restsharp/RestSharp
[submodule "libs/cecil"]
	path = libs/cecil
	url = https://github.com/jbevain/cecil
[submodule "libs/json.net"]
	path = libs/json.net
	url = https://github.com/JamesNK/Newtonsoft.Json
